* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-generic {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-generic:nth-child(1) {
    margin-right: 50px;
}

#login-data {
    display: flex;
    justify-content: space-evenly;
}

.element-generic {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 5px;
}
